<h3 class="spotify-sub-headline">Spotify Followers: <span class="followers">{{this.spotifyFollowers}}</span></h3>
<div class="tracks-wrapper">
    {{#each spotifyTopTracks}}
        <article class="spotify-top-track-item" id="{{this.trackid}}">
            <div>
                <h2><a href="{{this.trackSpotifyLink}}" target="_blank"><i class="fa fa-volume-up" aria-hidden="true"></i></a> #{{this.rank}} {{this.trackTitle}}</h2>
                <img src={{this.albumImage}} class="spotify-album-image" alt="Marilyn Manson Album Cover For {{this.fromAlbum}}">
                <a href="{{this.trackSpotifyLink}}" target="_blank">Listen to: {{this.trackTitle}} here <i class="fab fa-spotify" aria-hidden="true"></i></a>
            </div>
            <div>
                <h4>From: {{this.fromAlbum}}</h4>
                <a href="{{this.albumSpotifyLink}}" target="_blank">Listen to: {{this.fromAlbum}} here <i class="fab fa-spotify" aria-hidden="true"></i></a>
            </div>
        </article>
    {{/each}}
</div>