<main class="home-page main-content">
    <section class="hero-container">
        <div class="hero-img-area col-left">
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="The Pale Emperor"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="The Golden Age of Grotesque"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Mechanical Animals"></div>
            <div class="col-img-item" data-hero-tooltip="The Golden Age of Grotesque"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="The Golden Age of Grotesque"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="The Pale Emperor"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="The Golden Age of Grotesque"></div>
            <div class="col-img-item" data-hero-tooltip="The Golden Age of Grotesque"></div>
            <div class="col-img-item" data-hero-tooltip="The Golden Age of Grotesque"></div>
        </div>
        <div class="hero-img-area col-right">
            <div class="col-img-item" data-hero-tooltip="Holywood"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Holywood"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Smells Like Children"></div>
            <div class="col-img-item" data-hero-tooltip="Holywood"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Holywood"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Mechanical Animals"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Born Villian"></div>
            <div class="col-img-item" data-hero-tooltip="Holywood"></div>
            <div class="col-img-item" data-hero-tooltip="Antichrist Superstar"></div>
            <div class="col-img-item" data-hero-tooltip="Smells Like Children"></div>
        </div>
        <div class="hero-cta">
            <div>
                <h2 class="cta-headline">We Are<br>Chaos<span class="chaos"></span><span class="chaos-mobile"></span></h2>
                <h3 class="cta-subheadline">New Album Unleashed<br>Sept 11, 2020</h3>
                <form action="/users/signup" id="hero-form" method="POST">
                    <div>
                        <input type="email" name="usersEmail" class="email-input" id="email" required value="Email Address" onfocus="this.value=''" placeholder="Email Address">
                        <input type="text" name="usersName" id="Name" value="Your Name" onfocus="this.value=''" placeholder="Your Name" required>
                        <button class="cta-signup-btn" onclick="getLocation()">Sign-Up</button>
                    </div>
                </form>
                <p class="cta-text">Pre-Order your copy of <span><a href="#preorderTitles">We Are Chaos<span></span> today.<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </section>
    <div class="album-preorder-area">
        <section class="section-home-page" id="PreorderHeadlines">
            <div class="headlineinnerarea">
                <h2 class="preorder-main-heading">Pre-order<br>We Are Chaos.</h2>
                <div id="preorderTitles">
                    {{#each preorderalbum}}
                    <h2 id="preorderid-{{@key}}" class="album-title preorder-title">{{this.edition}}</h2>
                    {{/each}}
                </div>
            </div>
        </section>
        <section class="section-home-page" id="NewAlbumPreOrder">
            <div id="homepage-preorder">
                {{#each preorderalbum}}
                <div id="preorderAlbum{{@key}}" class="album">
                    <h4 class="album-title">{{this.edition}}</h4>
                    <div class="album-img-wrapper">
                        <img src="{{this.image}}" class="album-img">
                    </div>
                    <h5 class="album-shipping"><span>Est. Shipping Date: </span>{{this.shipping}}</h5>
                    <h6 class="album-price">{{this.price}}</h6>
                </div>
                {{/each}}
        </section>
    </div>
    <div class="video-wrapper">
        <div class="song-title-section-wrapper" id="song-titles">
            <section class="section-home-page" id="song-title-heading"> 
                <div>
                    <h2 class="songTitle-heading">We Are Chaos<br>EP Tracks</h2>
                    <p class="we-are-chaos-video">Watch We ARE Chaos<br>Music <a href="https://www.youtube.com/watch?v=lQJFP1INGxs" target="_blank">Video <i class="fab fa-youtube"></i></a></p>
                </div>
            </section>
            <video id="video-bg" src="img/manson.mp4" type="video/mp4" autoplay muted loop></video>
        </div>
        <section class="section-home-page" id="song-title-tracks">  
            <ol class="song-titles">
                <li class="track-titles">Solve Coagula</li>
                <li class="track-titles">Broken Needle</li>
                <li class="track-titles">Red Black And Blue</li>
                <li class="track-titles">WE ARE CHAOS</li>
                <li class="track-titles">Don't Chase The Dead</li>
                <li class="track-titles">Paint You With My Love</li>
                <li class="track-titles">Half-way &amp; One Step Forward</li>
                <li class="track-titles">Infinite Darkness</li>
                <li class="track-titles">Perfume</li>
                <li class="track-titles">Keep My Head Together</li>
                <li class="track-titles">Solve Coagula</li>
                <li class="track-titles">Broken Needle</li>
                <li class="track-titles">Red Black And Blue</li>
                <li class="track-titles">WE ARE CHAOS</li>
                <li class="track-titles">Don't Chase The Dead</li>
            </ol>
        </section>
    </div>
    <section class="section-home-page" id="spotify-section">
        <h2 class="spotify-headline">Top 10 Marilyn Manson <i class="fa fa-spotify" aria-hidden="true"></i>Spotify Tracks</h2>
        {{#each SpotifyTotalFollowers}}
        <h3 class="spotify-sub-headline">Spotify Followers: <span class="followers">{{this.followers}}</span></h3>
        {{/each}}
{{!--         <select name="" id="">
            <option value=""></option>
            <option value="nz" >New Zealand</option>
        </select> --}}
        <div class="spotify-cards-area">
            {{#each spotifyTopTracks}}
            <article class="spotify-top-track-item" id="{{this.trackid}}">
                <div>
                    <h2><a href="{{this.trackSpotifyLink}}" target="_blank"><i class="fa fa-volume-up" aria-hidden="true"></i></a> #{{this.rank}} {{this.trackTitle}}</h2>
                    <img src={{this.albumImage}} class="spotify-album-image" alt="Marilyn Manson Album Cover For {{this.fromAlbum}}">
                    <a href="{{this.trackSpotifyLink}}" target="_blank">Listen to: {{this.trackTitle}} here <i class="fa fa-spotify" aria-hidden="true"></i></a>
                </div>
                <div>
                    <h4>From: {{this.fromAlbum}}</h4>
                    <a href="{{this.albumSpotifyLink}}" target="_blank">Listen to: {{this.fromAlbum}} here <i class="fa fa-spotify" aria-hidden="true"></i></a>
                </div>
            </article>
            {{/each}}
        </div>
    </section>


{{!--     <section class="book-form-area" id="booksection">
            <div class="booksection_card">
            <p class="card-bar"></p>
            <h3>Title</h3>
            </div>
            <h2 class="sub-headline">Marilyn Manson by Perou: 21 Years in Hell</h2>
            <h3>Order Now</h3>
            <p>Subheading</p>
            <form action="" method="">
            <input type="text" name="" placeholder="Your Name">
                <input type="text" name="" placeholder="Company Name">
                <input type="email" name="" id="">
                <input type="radio" name="" id="">
                <input type="radio" name="" id="">
                <input type="radio" name="" id="">
                <input type="radio" name="" id="">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button type="submit">Place Order</button>
            </form>
        </section>
        <form action="">
            <input type="radio" name="something" id="cards-area" checked>
            <input type="radio" name="something" id="form-area">
        </form>
    </section> 
    --}}

    <section class="section-home-page" id="famousQuotes">
        <div class="quotes">
            <div class="quotes-inner-wrapper">
                <input type="radio" name="quotes" id="quote1" onclick="changeBGclr(this)" value="#fa8f77" checked>
                <div class="quotes-card quote1">
                    <i class="fas fa-quote-right"></i>
                    <blockquote cite="https://www.brainyquote.com/authors/marilyn-manson-quotes" class="quoteContent">
                        <p class="quote-text">&ldquo;I never said to be like me, I say to be like you and make a difference.&rdquo;</p>
                    </blockquote>
                    <footer class="quote-name">
                        <img src="img/quotes/quote1.jpg" alt="" class="quote-photo">
                        <div>
                            <h5 class="quote-by">Marilyn Manson</h5>
                            <p class="quote-source">NME Magazine Interview, 2003</p>
                        </div>
                    </footer>
                </div> 
                <input type="radio" name="quotes" id="quote2" onclick="changeBGclr(this)" value="#c9c35a">
                <div class="quotes-card quote2">
                    <i class="fas fa-quote-right"></i>
                    <blockquote cite="https://www.brainyquote.com/authors/marilyn-manson-quotes" class="quoteContent">
                        <p class="quote-text">&ldquo;The person who thinks I worship the devil and kill animals is just as important as someone who makes an interpretation that's closer to what I intended.&rdquo;</p>
                    </blockquote>
                    <footer class="quote-name">
                        <img src="img/quotes/quote2.jpg" alt="" class="quote-photo">
                        <div>
                            <h5 class="quote-by">Marilyn Manson</h5>
                            <p class="quote-source">Rolling Stone Magazine, 2009</p>
                        </div>
                    </footer>
                </div> 
                <input type="radio" name="quotes" id="quote3" onclick="changeBGclr(this)" value="#BDD5EA">
                <div class="quotes-card quote3">
                    <i class="fas fa-quote-right"></i>
                    <blockquote cite="https://www.brainyquote.com/authors/marilyn-manson-quotes" class="quoteContent">
                        <p class="quote-text">&ldquo;The burden of originality is one that most people don't want to accept. They'd rather sit in front of the TV and let that tell them what they're supposed to like, what they're supposed to buy, and what they're supposed to laugh at.&rdquo;</p>
                    </blockquote>
                    <footer class="quote-name">
                        <img src="img/quotes/quote3.jpg" alt="" class="quote-photo">
                        <div>
                            <h5 class="quote-by">Marilyn Manson</h5>
                            <p class="quote-source">Loud 1999</p>
                        </div>
                    </footer>
                </div> 
                <input type="radio" name="quotes" id="quote4" onclick="changeBGclr(this)" value="#61caab">
                <div class="quotes-card quote4">
                    <i class="fas fa-quote-right"></i>
                    <blockquote cite="https://www.brainyquote.com/authors/marilyn-manson-quotes" class="quoteContent">
                        <p class="quote-text">&ldquo;In any story, the villain is the catalyst. The hero's not a person who will bend the rules or show the cracks in his armor. He's one-dimensional intentionally, but the villain is the person who owns up to what he is and stands by it.&rdquo;</p>
                    </blockquote>
                    <footer class="quote-name">
                        <img src="img/quotes/quote4.jpg" alt="" class="quote-photo">
                        <div>
                            <h5 class="quote-by">Marilyn Manson</h5>
                            <p class="quote-source">Rolling Stone Magazine</p>
                        </div>
                    </footer>
                </div> 
                <input type="radio" name="quotes" id="quote5" onclick="changeBGclr(this)" value="#0081af">
                <div class="quotes-card quote5">
                    <i class="fas fa-quote-right"></i>
                    <blockquote cite="https://www.brainyquote.com/authors/marilyn-manson-quotes" class="quoteContent">
                        <p class="quote-text">&ldquo;I care about the people I know and love the most, but I also care about what the people I don't know think in the sense that I want them to think and understand me in a certain way. I don't base my life around either one, and I don't change the way I live to please either set of people, but I do care.&rdquo;</p>
                    </blockquote>
                    <footer class="quote-name">
                        <img src="img/quotes/quote5.jpg" alt="" class="quote-photo">
                        <div>
                            <h5 class="quote-by">Marilyn Manson</h5>
                            <p class="quote-source">Rolling Stone Magazine</p>
                        </div>
                    </footer>
                </div> 
            </div>
        </div>
        <div class="quote-button-area">
            <label for="quote1" name="quotes" class="quotecards-buttons"></label>
            <label for="quote2" name="quotes" class="quotecards-buttons"></label>
            <label for="quote3" name="quotes" class="quotecards-buttons"></label>
            <label for="quote4" name="quotes" class="quotecards-buttons"></label>
            <label for="quote5" name="quotes" class="quotecards-buttons"></label>
        </div>
    </section>            
    <section class="section-home-page back-catalog">
        <h3 class="backcatalog-headline"><i class="fas fa-record-vinyl"></i>Marilyn Manson Back Catalog</h3>
        <p>Need space for your team?<br>You’re in luck! We’ve just launched Deskpass for Teams to provide the same amazing Deskpass experience for entire organizations.</p>
        <div id="Manson-Albums-Catalog"></div>
        <div class="backcatalog-cta">
            <button class="backcatalog-buy-albums">Order Today</button>
        </div>
    </section>
    <section class="section-home-page" id="tour-updates-form">
{{!--         section area has a thick border 
        image on the left side only appears on desktop versions --}}
        <div class="tour-form-wrapper">
            <div class="tour-form-col update-left">
                <div class="tour-form-img-wrapper">
                    <img src="/img/copy_tourUpdateIMG.png" alt="Marilyn Manson 2020 Tour Promotional Image">
                </div>
            </div>
            <div class="tour-form-col update-right">
                <h3 class="headline">2020/21 Tour <span class="content-underline">Updates</span></h3>
                <p class="subheading">Lorem ipsum dolor sit ameting<br>elit.....</p>
                <form action="" method="">
                    <input type="email" class="signup-input" placeholder="Email Address" name="email">
                    <input type="text" class="signup-input" placeholder="City" name="city">
                    <button class="signup-btn">Let's Go</button>
                </form>
            </div>
        </div>
    </section>
</main>
